
body {
  margin: 0;
  padding: 0;
  font-family: 'Tourney', sans-serif;
  color: white;
}
#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.login-body, .main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background: transparent;
}
.login-box {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}
.logo {
  width: 60px;
  margin-bottom: 10px;
}
input[type=text], input[type=password] {
  width: 220px;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
button {
  background: #0f0;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
}
.remember-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: -5px;
}
.welcome-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
#menu-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 30px;
  cursor: pointer;
}
#sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background: rgba(0,0,0,0.9);
  padding-top: 60px;
  transition: left 0.3s;
  z-index: 10;
}
#sidebar ul {
  list-style-type: none;
  padding: 0;
}
#sidebar ul li {
  padding: 15px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #444;
}
#sidebar.active {
  left: 0;
}
#main-content {
  padding: 30px;
  text-align: center;
}
.trigger-btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: lime;
  color: black;
}
